@charset "utf-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
button {
  background: none;
  border: none;
}
img {
  vertical-align: middle;
}

.en {
  font-family: "Public Sans", sans-serif;
}
.en2 {
  font-family: "Cormorant Infant", serif;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  color: #fff;
  margin-bottom: 3000px;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 30px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.header.active {
  transform: translateY(-100%);
}
.header .logo {
  color: #fff;
}
.header .menuOpen {
  display: none;
  transition: 0.3s;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
}
.gnb ul li {
  margin-left: 70px;
}
.gnb ul li a {
  display: block;
}
/* hover */
.gnb ul li a .char {
  display: inline-block;
  position: relative;
  color: transparent;
  overflow: hidden;
}
/* 
    data 속성 : data-로 시작하는 속성으로 , 특정한 데이터를 DOM에 이용하기 위한 목적
    이 저장된 데이터를 attr()함수를 이용해 가져옴
*/

.gnb ul li a .char::before,
.gnb ul li a .char::after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  color: #fff;
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
.gnb ul li a .char::before {
  transform: translateY(100%);
}
.gnb ul li a:hover .char::before {
  transform: translateY(0);
  opacity: 1;
}
.gnb ul li a:hover .char::after {
  transform: translateY(-100%);
}

/* visual */
.visual {
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  box-sizing: border-box;
  position: relative;
  letter-spacing: -1px;
}
.visual .main_txt {
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 150px 60px;
  display: inline-block;
}
.visual .main_txt p {
  overflow: hidden;
}
.visual .sub_txt {
  margin-left: 20%;
}
.visual .scroll {
  position: fixed;
  left: 60px;
  bottom: 40px;
}
.visual .svg_ani {
  position: absolute;
  right: -2%;
  top: 9%;
  width: 55%;
  transform: rotate(-10deg);
}
.visual.motion .main_txt {
  transform: translate3d(0, 0, 0) skewY(0deg);
  overflow: hidden;
}
.visual.motion .main_txt p span {
  display: block;
  animation-name: textAni;
  animation-duration: 1.8s;
}
.visual.motion .main_txt p:nth-child(2) span {
  animation-duration: 1.7s;
}
.visual.motion .main_txt p:nth-child(3) span {
  animation-duration: 1.5s;
}

@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) skewY(-10deg);
    transform-origin: top left;
  }
}

@keyframes textAni2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}
.visual.motion .sub_txt {
  animation-name: textAni2;
  animation-duration: 2.3s;
}

/* svg */
.visual.motion #svgAni01 {
  stroke-dasharray: 675;
  stroke-dashoffset: 675;
  animation: ani1 0.5s linear 2s forwards;
}
.visual.motion #svgAni03 {
  stroke-dasharray: 3509;
  stroke-dashoffset: 3509;
  animation: ani3 2s linear 0.1s forwards;
}
.visual.motion #svgAni04 {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: ani4 0.2s linear 1s forwards;
}
.visual.motion #svgAni05 {
  stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: ani5 0.2s linear 0s forwards;
}
@keyframes ani1 {
  0% {
    stroke-dashoffset: 675;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani3 {
  0% {
    stroke-dashoffset: 3059;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani4 {
  0% {
    stroke-dashoffset: 64;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani5 {
  0% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
