@charset "utf-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
address,
em,
i {
  font-style: normal;
}
button {
  background: none;
  border: none;
}
img {
  vertical-align: middle;
}

.en {
  font-family: "Public Sans", sans-serif;
}
.en2 {
  font-family: "Cormorant Infant", serif;
}
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
.wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
  color: #fff;
}

/* header */
.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding: 30px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}
.header.active {
  transform: translateY(-100%);
}
.header .logo {
  color: #fff;
}
.header .menuOpen {
  display: none;
  transition: 0.3s;
}
.gnb ul {
  display: flex;
  justify-content: space-between;
}
.gnb ul li {
  margin-left: 70px;
}
.gnb ul li a {
  display: block;
}
/* hover */
.gnb ul li a .char {
  display: inline-block;
  position: relative;
  color: transparent;
  overflow: hidden;
}
/* 
    data 속성 : data-로 시작하는 속성으로 , 특정한 데이터를 DOM에 이용하기 위한 목적
    이 저장된 데이터를 attr()함수를 이용해 가져옴
*/

.gnb ul li a .char::before,
.gnb ul li a .char::after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  color: #fff;
  content: attr(data-char);
  transition: transform 0.35s;
  transition-delay: calc(30ms * var(--char-index));
}
.gnb ul li a .char::before {
  transform: translateY(100%);
}
.gnb ul li a:hover .char::before {
  transform: translateY(0);
  opacity: 1;
}
.gnb ul li a:hover .char::after {
  transform: translateY(-100%);
}

/* visual */
.visual {
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  box-sizing: border-box;
  position: relative;
  letter-spacing: -1px;
}
.visual .main_txt {
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 150px 60px;
  display: inline-block;
}
.visual .main_txt p {
  overflow: hidden;
}
.visual .sub_txt {
  margin-left: 20%;
}
.visual .scroll {
  position: fixed;
  left: 60px;
  bottom: 40px;
}
.visual .svg_ani {
  position: absolute;
  right: -2%;
  top: 9%;
  width: 55%;
  transform: rotate(-10deg);
}
.visual.motion .main_txt {
  transform: translate3d(0, 0, 0) skewY(0deg);
  overflow: hidden;
}
.visual.motion .main_txt p span {
  display: block;
  animation-name: textAni;
  animation-duration: 1.8s;
}
.visual.motion .main_txt p:nth-child(2) span {
  animation-duration: 1.7s;
}
.visual.motion .main_txt p:nth-child(3) span {
  animation-duration: 1.5s;
}

@keyframes textAni {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
    transform: translate3d(0, -90px, 0) skewY(-10deg);
    transform-origin: top left;
  }
}

@keyframes textAni2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
}
.visual.motion .sub_txt {
  animation-name: textAni2;
  animation-duration: 2.3s;
}

/* svg */
.visual.motion #svgAni01 {
  stroke-dasharray: 675;
  stroke-dashoffset: 675;
  animation: ani1 0.5s linear 2s forwards;
}
.visual.motion #svgAni03 {
  stroke-dasharray: 3509;
  stroke-dashoffset: 3509;
  animation: ani3 2s linear 0.1s forwards;
}
.visual.motion #svgAni04 {
  stroke-dasharray: 66;
  stroke-dashoffset: 66;
  animation: ani4 0.2s linear 1s forwards;
}
.visual.motion #svgAni05 {
  stroke-dasharray: 55;
  stroke-dashoffset: 55;
  animation: ani5 0.2s linear 0s forwards;
}
@keyframes ani1 {
  0% {
    stroke-dashoffset: 675;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani3 {
  0% {
    stroke-dashoffset: 3059;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani4 {
  0% {
    stroke-dashoffset: 64;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes ani5 {
  0% {
    stroke-dashoffset: 55;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.con01 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.con01 img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.con01 .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  color: #fff;
}
.con01 .title h2 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1.2;
}

/* work */
.con02 .title {
  width: 100%;
  height: 100vh;
  font-size: 170px;
  line-height: 0.9;
  text-align: center;
  padding-top: 30vh;
  box-sizing: border-box;
}
.con02 .title .en2 {
  font-size: 220px;
}
.con02 .workList {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.con02 .workList li {
  width: 45%;
  margin-top: 200px;
}
.con02 .workList li:nth-of-type(2n) {
  margin-top: 0;
}
.con02 .workList li a {
  display: block;
}
.con02 .workList li a .imgBox img {
  width: 100%;
}
.con02 .workList li a h3 {
  font-size: 35px;
  font-weight: normal;
  margin: 20px 0 5px;
}
.con02 .workList li a .info {
  display: flex;
  justify-content: space-between;
  color: #888;
}
/* hover */
.con02 .workList li a .imgBox {
  position: relative;
}
.con02 .workList li a .imgBox::before {
  content: "";
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: url(../images/readMore2.png) no-repeat center / 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 2;
  transition: all 0.3s;
  opacity: 0;
}
.con02 .workList li a .imgBox::after {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff url(../images/readMore3.png) no-repeat center / 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 0.4s;
  z-index: 1;
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.con02 .workList li a:hover .imgBox img {
  filter: brightness(50%);
}
.con02 .workList li a:hover .imgBox::before {
  opacity: 1;
}
.con02 .workList li a:hover .imgBox::after {
  opacity: 1;
  width: 168px;
  height: 168px;
}

/* con03 */
.con03 {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 200px;
}
.con03 .textWrap {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.con03 .textWrap .title {
  font-size: 18px;
}
.con03 .textWrap ul li {
  font-size: 100px;
  line-height: 1.2;
}
.con03 .textWrap ul li.en2 {
  padding-left: 5px;
}
.con03 .btnWrap {
  position: absolute;
  right: -50%;
  top: 60%;
  z-index: 3;
}
.con03 .btnWrap a {
  display: block;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  box-sizing: border-box;
  transition: 0.5s;
}
.con03 .btnWrap a img {
  width: 22%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.con03 .btnWrap a img:nth-child(2) {
  opacity: 0;
}

.con03 .btnWrap a::before {
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff url(../images/readMore3.png) no-repeat center/158px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 0.4s;
}
.con03 .btnWrap a:hover {
  border-color: transparent;
}
.con03 .btnWrap a:hover img:nth-child(2) {
  opacity: 1;
}
.con03 .btnWrap a:hover::before {
  width: 100%;
  height: 100%;
}
.simply-scroll .simply-scroll-clip {
  overflow: hidden;
  transform: rotate(5deg) translate(150%, 400px) scale(1.1);
  opacity: 0;
}
.simply-scroll .simply-scroll-clip .simply-scroll-list li {
  float: left;
  width: 400px;
  filter: brightness(50%);
}
.simply-scroll .simply-scroll-clip .simply-scroll-list li img {
  width: 100%;
}
.con03.motion .simply-scroll .simply-scroll-clip {
  transform: rotate(5deg) translate(0%, 400px) scale(1.1);
  opacity: 1;
  transition: 1.2s;
  transition-delay: 0.3s;
}
.con03.motion .btnWrap {
  right: 50%;
  transition: 1.2s;
}
.con03.motion .textWrap ul li p {
  animation-name: textAni;
  animation-duration: 1.3s;
}

footer {
  position: relative;
  height: 100vh;
}
footer .textWrap {
  position: absolute;
  width: 100%;
  top: 30%;
  padding: 0 60px;
  box-sizing: border-box;
  font-size: 160px;
  line-height: 1;
  letter-spacing: -1px;
}
footer .textWrap .title {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 15px;
}
footer .textWrap .contact {
  margin-bottom: 10px;
}
footer .textWrap a {
  display: block;
  margin-top: -30px;
}
footer .bottom {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  box-sizing: border-box;
  font-size: 30px;
  letter-spacing: -1px;
}
footer .bottom .sns {
  display: flex;
}
footer .bottom .sns li {
  margin-right: 30px;
}

/* 반응형 */
/* 1650 ~ 1301 */
@media screen and (max-width: 1650px) {
  .visual .svg_ani {
    top: 17%;
  }
  .visual .main_txt {
    margin-bottom: 45px;
  }
  .visual .sub_txt {
    margin-left: 10%;
  }
  .con03.motion .btnWrap {
    right: 10%;
  }
  footer .textWrap a {
    font-size: 110px;
  }
}

@media screen and (max-width: 1300px) {
  .visual .main_txt {
    font-size: 11vw;
    width: 100%;
  }
  .visual .svg_ani {
    top: 39%;
    width: 56%;
  }
  .visual .sub_txt {
    margin-left: 0;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 8%;
  }
  footer .textWrap a {
    font-size: 90px;
  }
}

@media screen and (max-width: 1024px) {
  .visual .svg_ani {
    top: 39%;
    width: 76%;
    right: -1%;
  }
  .visual .sub_txt {
    bottom: -18%;
  }
  .con01 .title h2 {
    font-size: 7vw;
  }
  .con02 .title .en2 {
    font-size: 18vw;
  }
  .con02 .workList {
    width: 90%;
  }
  .con03 .textWrap {
    width: 85%;
  }
  .con03 .textWrap ul li {
    font-size: 12vw;
  }
  footer .textWrap {
    font-size: 12vw;
  }
  footer .textWrap a {
    font-size: 9vw;
  }
  footer .bottom {
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .wrap {
    font-size: 16px;
  }
  .header {
    padding: 3% 5%;
  }
  .header .menuOpen {
    display: block;
    position: relative;
    width: 32px;
    height: 10px;
    margin-top: 10px;
    transition: top 0.5s;
  }
  .header .menuOpen span.a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: 0.3s;
  }
  .header .menuOpen span.b {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transition: 0.3s;
  }
  .gnb {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    background: #fff;
    left: 0;
    top: -100%;
    color: #000;
    z-index: 100;
    transition: top 0.5s;
  }
  .gnb ul {
    display: block;
    width: 80%;
    margin: 20% auto;
  }
  .gnb ul li {
    margin-left: 0;
  }
  .gnb ul li a {
    font-size: 18vw;
    line-height: 1.4;
    letter-spacing: -1px;
  }
  .gnb ul li:nth-child(2) a {
    font-family: "Cormorant Infant";
  }
  .gnb ul li a .char {
    color: #000;
    overflow: inherit;
  }
  .gnb ul li a .char::before,
  .gnb ul li a .char::after {
    display: none;
  }

  /* gnb open */
  .gnb.on {
    width: 100%;
    height: 100vh;
    top: 0;
  }
  body.on {
    overflow: hidden;
  }
  .header .menuOpen.on {
    z-index: 200;
  }
  .header .menuOpen.on span.a {
    background: #000;
    transform: rotate(45deg) translate(5px, 5px);
  }
  .header .menuOpen.on span.b {
    background: #000;
    transform: rotate(-45deg) translate(2px, -1px);
  }
  .visual {
    margin-bottom: 35%;
  }
  .visual .svg_ani {
    width: 85%;
    right: 3%;
  }
  .visual .scroll {
    left: 5%;
    bottom: 2%;
  }
  .con02 .workList li {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .con02 .workList li a .imgBox::before,
  .con02 .workList li a .imgBox::after {
    display: none;
  }
  .con02 .workList li a h3 {
    font-size: 23px;
  }
  .con02 .title {
    font-size: 20vw;
  }
  .con02 .title.en {
    font-size: 20vw;
  }
  .con03 .btnWrap a {
    width: 90px;
    height: 90px;
  }
  .con03 .btnWrap a::before {
    display: none;
  }
  .con03 .btnWrap a:hover {
    border-color: #fff;
  }
  .con03 .btnWrap a img:nth-child(2) {
    display: none;
  }
  .simply-scroll .simply-scroll-clip .simply-scroll-list li {
    width: 200px;
  }
  .con03.motion .simply-scroll .simply-scroll-clip {
    transform: rotate(10deg) translate(20%, 400px) scale(1.2);
  }

  footer {
    position: relative;
    height: 50vh;
  }
  footer .textWrap {
    padding: 0;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  footer .textWrap .title {
    padding: 0;
  }
  footer .textWrap .contact {
    margin-bottom: 40px;
  }
  footer .bottom {
    padding: 0 5%;
  }
}

@media screen and (max-width: 500px) {
  .mo {
    display: none;
  }
  .visual {
    padding-top: 100px;
    margin-bottom: 0;
  }
  .visual .main_txt {
    margin: 0px 0px 150px 25px;
  }
  .visual .svg_ani {
    width: 100%;
    right: -1%;
    top: 30%;
  }
  .visual .sub_txt {
    bottom: 10%;
  }
  .con03 .textWrap ul li.en2 {
    padding-left: 10px;
  }
  footer .bottom {
    font-size: 17px;
  }
  footer .bottom .sns li {
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .con03.motion .simply-scroll .simply-scroll-clip {
    transform: rotate(10deg) translate(20%, 300px) scale(1.2);
  }
}
